@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#logo{
    height: 50px;
    float: left;
    padding: 10px 20px 0;
    font-size: 20px;
    color: #ffff;
    font-weight: bold;
    display: flex;
}

.navbar{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383838;
   
}
.navbar h1{
    color: #ffff;
    font-size: 35px;
    position: relative;
}
.navbar h1:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.botones_navbar{
    align-items: center;
    justify-content: space-around;
    margin: 0 150px 0 60px;    
    width: 100vh;
}
.cartwidget {
    float: right;
    padding: 10px 20px;
    color: #ffff;   
}
.cartwidget:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.cantidad_items{
    background-color: #ffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 20px;
    right: 10px;
    text-align: center;
    font-weight: 600;
    color: #383838;
}
.material-symbols-outlined{
    font-size: 30px; 
}

.botones button{
    font-size: 20px;
    color: #fff;
}

.botones button:hover{
    color: #383838;
    text-decoration: none;
}

.ConteinerPrincipal{
    background-color: rgb(0, 0, 0);
    height: 950px;
    width: 100%;
}

.greeting h5{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffff;

}
.videoP{
    width: 950px;
    height: 740px;
    float: left;
    padding: 100px 55px 5px 55px;
}

.ConteinerPrincipal h2{
    font-size: 90px;
    color: #ffff;
    text-align: center;
    padding-top: 250px;
   
}
.texto1{
    text-align: left;
    font-size: 35px;
    color: #ffff;
    padding: 10px 40px 10px 0px;
}

.texto2 {
    text-align: left;
    color:lightskyblue;
    font-size: 20px;
    padding: 10px 40px 10px 0px;
}

.btnBuy{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 1500px 0px 370px ;
    position: relative;
    padding: 10px 70px;
    color: #ffff;
    letter-spacing: 10px;
    border-radius: 35px;
    border: 3px solid darkgrey ;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btnBuy:hover{ background-color: darkgrey ; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1);
}

.contact_box{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.contact_box h1{
    font-size: 50px;


}

.contact_box .first_row{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    border-radius: 50px;
    width: 100%;
    gap: 50px;
}

.contact_box .first_row input{
    border-radius: 5px;
    width: 400px;
    color: black;
}

.contact_box .text_area textarea{ 
    width: 850px;
    height: 200px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 20px;
}

.button_contact{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
}

.form_cart{
    border: solid #383838;
    border-radius: 10px;
    width: 45%;
    padding: 15px;
    margin: 50px;
}

.cart_{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 50px;
}

.cart_ h2{
    margin-top: 50px;
    font-size: 50px;
}

.form_cart label{
    margin: 5px 0;
}

.footer{
    background-color: #383838;
    height: 280px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #ffff;
    padding-top: 15px;
}

.footer .networks i{
    padding: 10px;
    font-size: 30px;
}

.footer .aboutUs {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.footer .footer_categories{
    display: flex;
    flex-direction: column;
}

.footer .footer_networks{
    display: flex;
    flex-direction: column;
}

.footer .footer_contact{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.footer h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer h3{
    font-size: 20px;
}


.main_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.cart_container .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
}

.cart_container .cards .img_item{
   width: 100px;
   margin: 10px;
}

.item_count_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.tag_total_amount{
    color: #383838;
    font-size: 30px;
    margin-left: 500px;
}

.links_tree{
    font-size: 25px;
    color: #383838;
    font-weight: 600;
    margin: 30px 0 30px 50px;
}

#catalogo_text{
    font-size: 60px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}